:host {  
    --padding-value:1rem;
    background-color: rgb(17, 147, 223);
    border:1px solid rgb(18, 225, 73);
    margin: 1rem;
    /*background-image: url('/resource/static_resource_Animation');*/

    background-image: url("paste url here"); 



}